<!--p>persona-tarjeta works!</p-->
<mat-card>
    <mat-card-header>
        <mat-card-title> {{ persona.superhero }}/{{ persona.id }} </mat-card-title>
        <mat-card-subtitle> {{ persona.alter_ego }} </mat-card-subtitle>
    </mat-card-header>

    <!--img mat-card-image [src]="persona"-->
    <img mat-card-image [src]="persona | personaImagenPipe">

    <mat-card-content>
        <h3>{{ persona.genero }}</h3>
        <p>
            <strong>Primera aparición</strong> {{ persona.nombres }}
            <br>
            <strong> Personajes: </strong> {{ persona.apPaterno }}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/personas', persona.id ]">
            Leer más...
        </button>

        <button mat-button 
                color="info"
                [routerLink]="['/personas/editar', persona.id ]">
            Editar
        </button>
    </mat-card-actions>
</mat-card>

