<!--p>por-capital works!</p-->
<!--p>por-pais works!</p-->
<h2>Por Capital</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input
        (onEnter)="buscarEmit( $event )"
        (onDebounce)="sugerencia($event)"
        placeHolderVar="Buscar por Capital...Harrys"
        ></app-pais-input>
    </div>
</div>
<hr>
<div class="alert alert-danger"
     *ngIf="swError">
    No se encontro data, con {{txBuscar}}
</div>
<div class="row" *ngIf="!swError">
    <div class="col">
        <app-pais-tabla [paises_entrada]="paises"></app-pais-tabla>
    </div>
</div>