<!--p>buscar works!</p-->
<div fxLayout="column">
    <div>
        <h1>Buscador de Persona</h1>
        <mat-divider></mat-divider>
    </div>
    
    <div fxLayout="column">
        <h3>Buscador</h3>
        
        <mat-form-field>
<!--          [(ngModel)]="termino" ==> FormsModule
  (input)="buscando()" cada vez que la persona escribe
-->
            <input type="text"
                   placeholder="Buscar"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">

                   <!--[value]="persona" el objeto o campo con el cual se quiere trabajar-->
            <mat-autocomplete autoActiveFirstOption 
                              #auto="matAutocomplete"
                              (optionSelected)="opcionSeleccionada( $event )">
              <mat-option *ngFor="let persona of lPersonas" [value]="persona">
                {{ persona.superhero }}
              </mat-option>

              <mat-option value="" *ngIf="lPersonas.length === 0 && termino.trim().length > 0">
                No se encontró nada con el término {{ termino }}
              </mat-option>
              

            </mat-autocomplete>
        

        </mat-form-field>



    </div>

    <div>
        <pre>*******  {{ personaSeleccionado | json }} *************</pre>
    </div>

</div>