<!--p>gifs-page works!</p-->
<!--div class="container" eliminamos este div, 
    y colocamos el class container en el gifsPage
-->
    <div class="row p-3">
      <div class="col">
            <app-busqueda></app-busqueda>
            <!--
            <h5>Buscar:</h5>
            <input type="text" 
                  class="form-control"
                  placeholder="Buscar Fotos"
                  >
            -->
      </div>
    </div>
    <hr>
<div class="row p-3">
  <div class="col">
    <app-resultado></app-resultado>
    <!--Lorem Ipsum-->
  </div>
</div>

