<h1><font color="red"><p>Componente 02!</p></font></h1>
<h1>Hola Enlazando Objetos</h1>

<h1>Método nombreCompleto parámetro<font color="red">, Función</font></h1>

<!-- Variable o método que debe existir en el TS-->
<h1>{{obtenerNombre}}</h1>


<h1><font color="red">Metrodo nombreCompleto</font></h1>

<!-- Método que debe existir en el TS-->
<h1>{{obtenerNombre()}}</h1>

<h1><font color="red">getter getCompleto</font></h1>

<!-- Método que debe existir en el TS-->
<h1>{{getCompleto}}</h1>

<button (click)="ponerHarrisita()">Niñita</button>
<button (click)="ponerHarrisito()">Niñito</button>