<!--p>busqueda works!</p-->
<!--
      [] ==> permite sacar datos del ts
      () ==> permite ejecutar comandos TS
      [()] ==> ngModel, despues lo utilizaremos, doble sentido
              desde el html a ts
              y del ts al html
     @ViewChild('txBusqueda') ==> enlaza una variable ts al html
               pero solo en un sentido
-->
<div class="col">
    <h5>Buscar:</h5>
    <input type="text" 
           class="form-control"
           [placeholder]="ayudaForm"
           (keyup)="keyTeclas($event)"

           (keyup.shift.enter)="keyShiftEnter(txBusqueda.value)"
           #txBusqueda
           
           (keyup.enter)="keyEnter()"
          >
