<!-- 000 Básico-->
<!--
<h1>Titulo de la canción <font color="red">{{title_harrys}}</font></h1>
        Lo anterior se encuentra en app.component.ts en ==> export class AppComponent

        <h1>expresión  <font color="red">{{5 * 3}}</font></h1>

        <button (click) = "contador=contador + 1" >+1</button>
        <h1>contador  <font color="red">{{contador}}</font></h1>
        <button (click) = "contador=contador - 1">-1</button>

        <h1>sumar  <font color="red">{{sumar(2,3)}}</font></h1>
        <h1>sumar v2 <font color="red">{{sumar_v2(2,'3')}}</font></h1>

        <button (click) = "contador=contador + base" >+{{base}}</button>
        <button (click) = "contador=contador - base">-{{base}}</button>
        <h1>Base <font color="red">{{base}}</font></h1>
-->
        <br><hr>
        <app-persona-datos></app-persona-datos>
        <hr>
        <app-contador></app-contador>
        <!-- 01 Componente contador  repetir
        <app-contador></app-contador>
        <app-contador></app-contador>
        <app-contador></app-contador>
        <app-contador></app-contador>
        -->
        <!-- 02 Clase Componente Get -->
        
        <!-- 03 Clase Persona, creado automáticamente-->
        <br><hr>
        <app-c03-per-list></app-c03-per-list>
        <!-- 04 ngForm ngIf ngModel-->
        <app-main-page></app-main-page>
        <app-mi-serv-add></app-mi-serv-add>
        <app-mi-serv-lista></app-mi-serv-lista>
        <!--
        -->
        hola

